[submodule "src/shared/common"]
	path = src/shared/common
	url = https://github.com/HRAshton/BoUnAn.Common.git
[submodule "src/api-clients/loan-api"]
	path = src/api-clients/loan-api
	url = https://github.com/HRAshton/LoanAPI.git
